<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Modelware.MoBatch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Modelware.MoBatch.Properties.Settings.ConnectionString"
            connectionString="Data Source=aSPRODDB_BUR01\mOdbA;Initial Catalog=CEnTralDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Modelware.MoBatch.Properties.Settings.DataMiningConnectionString"
            connectionString="Data Source=MODELWARE27\SQLSERVER2008;Initial Catalog=DM_MoBatch;UID=sa;PWD=XXXXXXXXXX" />
    </connectionStrings>
    <applicationSettings>
        <Modelware.MoBatch.Properties.Settings>
            <setting name="AppHeader" serializeAs="String">
                <value>Data Capture</value>
            </setting>
            <setting name="ExternalAppSettings" serializeAs="String">
                <value>C:\centralDB\MoBatch\INI Files\MoBatch_Sample.ini,Sample MoBatch</value>
            </setting>
        </Modelware.MoBatch.Properties.Settings>
    </applicationSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.AnalysisServices.AdomdClient" publicKeyToken="89845DCD8080CC91" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
